body {
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(173, 215, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    border: 22px solid rgb(22, 64, 160);
    width:1250px;
    height: 450px;
    border-radius: 40px;
    background-color: rgb(40, 116, 90);
}
.item{
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;

}


span{
    font-size: x-large;
    font-family: sans-serif;
    color: rgb(8, 3, 54);
}

.btn{
    padding: 25px;
    margin-left: 30px;
    border-radius: 4px;
    margin-top: 40px;
    background-color: rgb(231, 88, 233);
    cursor: pointer;
}



.container{
    text-align: center;
}


.table{
    text-align: center;
    margin-left: 480px;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(24, 6, 64);
}

h2{
    font-size: 30px;
    color: rgb(8, 39, 51);
    margin-top: 60px;
}

label{
    font-style: oblique;
    font-size: large;
    color: black;
    margin-left: 20px;
}

#remove{
    padding: 8px;
    border-radius: 40px;
    margin-left: 10px;
    background-color: rgb(207, 65, 65);
    cursor: pointer;
}